:root {
  --white: hsl(0, 100%, 100%);
  --Purple-100: hsl(275, 100%, 97%);
  --Purple-600: hsl(292, 16%, 49%);
  --Purple-950: hsl(292, 42%, 14%);
  --Purple-h4: hsl(293, 59%, 51%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;

  background-color: var(--Purple-100);
  background-image: url('/src/image/background-pattern-desktop.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  color: var(--Purple-950);
}

main {
  max-width: 60rem;
  max-height: max-content;
  margin: 0 auto;
  margin-top: 10rem;
  padding: 3rem;
  background-color: var(--white);
  border-radius: 2rem;
  margin-bottom: 5rem;
}

header {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2.6rem;
}

header h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

button {
  border: none;
  cursor: pointer;
  background-color: var(--white);
}

img {
  width: 2.8rem;
  height: 2.8rem;
}

.first__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h4 {
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-size: 1.8rem;
  font-weight: 600;
}

h4:hover {
  color: var(--Purple-h4);
  cursor: pointer;
  transition: all 0.5s;
}

.border {
  margin: 2.4rem 0;
  border-bottom: solid 3px var(--Purple-100);
  list-style: none;
}

/* -------------- */
.display {
  padding-bottom: 2.8rem;
}

.display.hide {
  color: var(--Purple-600);
  font-size: 1.6rem;
  font-weight: 400;
}

.hide {
  height: 0;
  opacity: 0;
  transition: all 0.3s linear;
}

.attribution {
  text-align: center;
  color: var(--Purple-950);
}

.attribution__link:link,
.attribution__link:visited {
  color: var(--Purple-h4);
}

/* under 660px */
@media (max-width: 41.25em) {
  main {
    max-width: 40rem;
  }

  header h1 {
    font-size: 2.4rem;
  }

  h4 {
    font-size: 1.4rem;
  }

  body {
    font-size: 1.4rem;
    background-image: url('/src/image/background-pattern-mobile.svg');
  }
}
